body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, #d4dae4 0%, #9eaabe 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.todo-container {
  border-radius: 10px;
  padding: 10px;
  font-size: calc(16px + 2vmin);
  background-image: linear-gradient(135deg, #3e50a1 0%, #3b29dd 100%);
}
.header {
  color: lightcyan;
  font-size: calc(32px + 2vmin);
  text-align: center;
}

ul {
  border-top: 1px solid lightcyan;
}

li {
  color: lightgray;
  border-bottom: 1px solid darkblue;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: lightgoldenrodyellow;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.delete-btn {
  margin-left: 5px;
  font-size: calc(8px + 2vmin);
  outline: none;
  border: none;
  background-color: lightgray;
  color: red;
  cursor: pointer;
  float: right;
}
.complete-btn {
  margin-left: 15px;
  font-size: calc(8px + 2vmin);
  outline: none;
  border: none;
  background-color: lightgray;
  color: green;
  cursor: pointer;
  float: right;
}

.create-task {
  display: flex;
}

input[type='text'] {
  width: 80%;
  font-size: calc(16px + 2vmin);
  margin-right: 2px;
  outline: none;
  border: none;
  color: darkblue;
}

.enter-btn {
  width: 20%;
  font-size: calc(12px + 2vmin);
  outline: none;
  border: none;
  background-color: lightgray;
  color: darkblue;
  cursor: pointer;
}
